{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="account-section">
      <h1>Daxil ol</h1>
      <div class="form-container">
        <div class="form-box">
          <form>
            <label>İstifadəçi adı və ya e-poçt ünvanı *</label>
            <input type="text" required />

            <label>Şifrə *</label>
            <input type="password" required />

            <div class="form-actions">
              <label><input type="checkbox" /> Məni yadda saxla</label>
              <button type="submit">Daxil ol</button>
            </div>

            <a href="{% url 'register' %}">Şifrənizi unutmusunuz?</a>
          </form>
        </div>
      </div>
    </section>
{% endblock %}

{% block js %}
    <script src="./js/main.js"></script>
{% endblock %}