{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="account-section">
      <h1>Daxil ol</h1>
      <div class="form-container">
        <div class="form-box">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label>E-Poçt ünvanı *</label>
            {{ form.username }}
            {{ form.username.errors }}

            <label>Şifrə *</label>
            {{ form.password }}
            {{ form.password.errors }}

            <div class="form-actions">
              <a href="{% url 'register' %}">Hesabınız yoxdur?</a>
              <button type="submit">Daxil ol</button>
            </div>
          </form>
        </div>
      </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
