{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="profile-section">
      <div class="profile-card">
        <div class="profile-avatar">
              <img src="{% static '../static/images/avatar.png' %}" alt="şəkil" id="profileImg" width="315px" height="315px"/>
        </div>
        <h2 id="fullname">{{user.get_full_name}}</h2>
        <p>
          <strong><span style="color: rgb(8, 8, 101)">Email:</span></strong>
          <span id="email">{{request.user.email}}</span>
        </p>

        <div class="password-wrapper">
          <label
            ><strong>
              <span style="color: rgb(8, 8, 101)">Şifrə:</span>
            </strong></label
          >
          <input type="text" id="password" value="{{request.user.password}}" readonly />
        </div>

        <a href="{% url 'home' %}" class="logout-btn">Ana Səhifə</a>
      </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}