{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="account-section">
      <h1>Qeydiyyatdan keç</h1>
      <div class="form-container">
        <div class="form-box">
          <form id="registerForm" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.email.errors }}
            
            <label>Ad *</label>
            {{ form.first_name }}
          {{ form.first_name.errors }}
          
          <label>Soyad *</label>
          {{ form.last_name }}
          {{ form.last_name.errors }}

          <label>E-poçt ünvanı *</label>
          {{ form.email }}
          
          <label>İstifadəçi adı *</label>
          {{ form.username }}
          {{ form.username.errors }}
          
          <label>Şifrə *</label>
          {{ form.password }}
          {{ form.password.errors }}
          
          <button type="submit">Qeydiyyatdan keç</button>
      </form>
      </div>
      </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}