{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="account-section">
      <h1>Qeydiyyatdan keç</h1>
      <div class="form-container">
        <div class="form-box">
          <form>
            <label>E-poçt ünvanı *</label>
            <input type="email" required />

            <label>Şifrə *</label>
            <input type="password" required />

            <p class="privacy-text">
              Şəxsi məlumatlarınız bu vebsaytda təcrübənizi dəstəkləmək,
              hesabınıza giriş imkanını idarə etmək və məxfilik siyasətimizdə
              göstərilən digər məqsədlər üçün istifadə olunacaq.
            </p>

            <button type="submit">Qeydiyyatdan keç</button>
          </form>
        </div>
      </div>
    </section>
{% endblock %}

{% block js %}
    <script src="./js/main.js"></script>
{% endblock %}