{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>Abituriyent Hazırlığı</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>Gələcəyin tələbələrini bu gündən formalaşdırırıq! </strong
        ><br /><br />
        Abituriyent hazırlığı proqramımız bütün ixtisas qrupları üzrə fənləri
        əhatə edir. Peşəkar müəllim heyətimizlə hər şagirdə fərdi yanaşma tətbiq
        olunur. Müntəzəm sınaq imtahanları, dərsliklərə uyğun tədris
        materialları və motivasiyaedici mühitlə universitet yolunda inamla
        irəliləyin!
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}