{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>Veb Proqramlaşdırma (Python & Django)</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>İdeyanı sayta çevir! </strong><br /><br />
        Bu kursda siz sıfırdan başlayaraq tam funksional veb saytlar yaratmağı
        öyrənəcəksiniz. Python dilində yazılmış Django framework-ü ilə tanışlıq,
        verilənlər bazası ilə işləmə, front və back-end inteqrasiyası və real
        layihələr üzərində işlə tədris praktiki şəkildə aparılır.
        Proqramlaşdırma sahəsində peşəkar olmaq istəyənlər üçün ideal
        başlanğıcdır
      </p>
    </section>
{% endblock %}

{% block js %}
<script src="../js/main.js"></script>
{% endblock %}