{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>İnformatika Dərsləri</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong
          >Rəqəmsal dünyanı başa düşmək üçün ilk addımı bizimlə atın! </strong
        ><br /><br />
        Məktəb proqramı əsasında hazırlanan informatika dərslərimiz şagirdlərə
        kompüter bilikləri, alqoritmik düşüncə və texnologiya ilə səmərəli
        işləmə bacarıqları qazandırır. Nəzəri biliklər praktika ilə
        birləşdirilir və şagirdlər gələcəyin IT yönümlü sahələrinə hazır şəkildə
        yönləndirilir.
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}