{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>Xarici Dil Kursları (Rus, İngilis, Fransız, Alman)</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>Dünyanı başa düşmək üçün dilləri öyrən! </strong><br /><br />
        Xarici dil kurslarımız fərqli yaş və səviyyələr üçün nəzərdə tutulub.
        Danışıq yönümlü proqramlar, interaktiv dərslər və sınaq testləri ilə
        iştirakçılar qısa zamanda sərbəst ünsiyyət bacarığı qazanır. İstər
        gündəlik danışıq, istərsə də akademik və peşəkar məqsədlər üçün — doğru
        ünvan buradır.
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}