{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>Liseylərə Hazırlıq</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>Gələcəyin uğurlu lisey tələbələrini yetişdiririk!</strong
        ><br /><br />
        Özəl və dövlət liseylərinə qəbul imtahanlarına uyğunlaşdırılmış dərs
        proqramımız şagirdlərin analitik düşünmə və sürətli qərarvermə
        bacarıqlarını inkişaf etdirir. İllərin təcrübəsinə malik müəllimlər,
        xüsusi hazırlıq və sınaq imtahanları ilə uşaqların liseyə keçidini
        asanlaşdırırıq.
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}