{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="kurs-python-banner">
      <h1>Təkmilləşdirmə Kursları (5–8-ci siniflər)</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>Məktəbə dəstək, gələcəyə sərmayə! </strong><br /><br />
        Bu kurslar orta məktəbdə oxuyan şagirdlər üçün nəzərdə tutulub.
        Riyaziyyat, Azərbaycan dili, İngilis dili və digər əsas fənlər üzrə
        təkrar, möhkəmləndirmə və inkişaf etdirici dərslərlə bilik boşluqları
        aradan qaldırılır. Fərdi yanaşma və interaktiv tədris metodu ilə uşaqlar
        dərslərdən zövq alır və özünəinamları artır.
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}