{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>Müəllimlərin İşə Qəbulu (MİQ) Hazırlığı</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>Tədrisə sevgi, imtahana strategiya ilə yanaşın! </strong
        ><br /><br />
        MİQ imtahanlarına hazırlaşan müəllim namizədləri üçün nəzərdə tutulmuş
        bu kursda həm ixtisas, həm də metodika bölmələri əhatə olunur. Güncəl
        proqram əsasında test tapşırıqları, izahlı dərslər və fərdi dəstək
        vasitəsilə uğur qazanmağınıza dəstək oluruq.
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}