{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="kurs-python-banner">
      <h1>Proqramlaşdırma və Alqoritm (Python əsaslı)</h1>
    </section>

    <section class="kurs-python-description">
      <p>
        <strong>Təkcə kod yazmağı deyil, düşünməyi öyrədirik!</strong
        ><br /><br />
        Python əsaslı bu proqramlaşdırma kursu həm yeni başlayanlar, həm də
        əsasları möhkəmləndirmək istəyənlər üçün nəzərdə tutulub. Dərslərdə
        alqoritmik düşüncə, problem həll etmə bacarıqları və real layihələr
        üzərində iş əsas yer tutur. Gələcəyin proqramçısı olmaq üçün ilk addımı
        bizimlə atın!
      </p>
    </section>
{% endblock %}

{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}