{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
      <section class="about">
        <div class="about-images">
          <img src="{% static '../static/images/students.png' %}" class="big" />

          <div class="small-images">
            <img src="{% static '../static/images/class.png' %}" />
            <img src="{% static '../static/images/class2.png' %}" />
          </div>
        </div>

        <div class="about-text">
          <h1>Biz Keyfiyyətli Tədrisin Daşıyıcısıyıq</h1>

          <div>
            <h3>
              <i class="fa-solid fa-chalkboard-teacher"></i>
              Sənaye üzrə Peşəkar Təlimçilər
            </h3>
            <p>
              Təcrübəli və sahəsində ixtisaslaşmış müəllim heyətimizlə
              tələbələrə real bilik və bacarıqlar aşılayırıq.
            </p>
          </div>

          <div>
            <h3>
              <i class="fa-solid fa-book"></i>
              Müasir və Əhatəli Kurs Proqramları
            </h3>
            <p>
              Proqramlarımız daim yenilənir və müasir tələblərə cavab verir. Hər
              bir kurs praktikaya əsaslanır.
            </p>
          </div>

          <div>
            <h3>
              <i class="fa-solid fa-users"></i>
              Geniş və Aktiv Tələbə İcması
            </h3>
            <p>
              Oğuz Tədris Mərkəzində öyrənən yüzlərlə tələbə ilə birlikdə sən də
              inkişaf et, biliklərini paylaş və motivasiya qazan.
            </p>
          </div>
        </div>
      </section>
    </main>
{% endblock %}

{% block js %}
    <script src="js/main.js"></script>
{% endblock %}