{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
      <div class="contact-section">
        <h1>Bizimlə Əlaqə Saxlayın</h1>

        <div class="contact-container">
          <div class="cards">
            <div class="card">
              <i class="fa-solid fa-globe"></i>
              <h4>Veb Saytımız</h4>
              <p>
                <a
                  href="https://www.instagram.com/oguztedrismerkezi/"
                  target="_blank"
                >
                  @oguztedrismerkezi
                </a>
              </p>
            </div>

            <div class="card">
              <i class="fa-solid fa-envelope"></i>
              <h4>Bizə E-poçt Göndərin</h4>
              <p>
                <a href="mailto:oguztehsilmerkezi@gmail.com"
                  >oguztehsilmerkezi@gmail.com</a
                >
              </p>
            </div>

            <div class="card">
              <i class="fa-solid fa-phone"></i>
              <h4>Bizə Zəng Edin</h4>
              <p>
                <a href="tel:+994705037020">+994 70 503 70 20</a>
              </p>
            </div>

            <div class="card">
              <i class="fa-solid fa-location-dot"></i>
              <h4>Məkanımız</h4>
              <p>
                <a
                  href="https://www.google.com/maps/search/?api=1&query=Balababa+Məcidov+55,+Bakı,+Azərbaycan"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Balababa Məcidov 55, Bakı, Azərbaycan
                </a>
              </p>
            </div>
          </div>

          <form class="contact-form" method="post">
            {% csrf_token %}
            
            <!-- <input type="text" placeholder="Firstname" required /> -->
            {{form.first_name}}
            {{form.first_name.errors}}
            <!-- <input type="text" placeholder="Lastname" required /> -->
            {{form.last_name}}
            {{form.last_name.errors}}
            <!-- <input type="email" placeholder="Email" required /> -->
            {{form.email}}
            {{form.email.errors}}
            <!-- <input type="tel" placeholder="Phone" required /> -->
            {{form.phone}}
            {{form.phone.errors}}
            <!-- <textarea placeholder="Your message" rows="4" required></textarea> -->
            {{form.message}}
            {{form.message.errors}}
            <button type="submit">Submit now</button>
          </form>
        </div>
      </div>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1562.3253828800798!2d49.83263956437752!3d40.38210502857625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d9889f00001%3A0x463adfe07990e374!2s55%20Balababa%20Majidov%20St%2C%20Baku%201009!5e0!3m2!1str!2saz!4v1753666477761!5m2!1str!2saz"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </main>
{% endblock %}


{% block js %}
    <script src="js/main.js"></script>
{% endblock %}    