{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="gallery-section">
      <div class="gallery-card">
        <img src="{% static '../static/images/mezuns.png' %}" alt="Məzun günü" />
        <div class="gallery-content">
          <h2>Məzun günü</h2>
          <p>
            Kursumuzun məzun günündə tələbələrimizin əzmlə keçdikləri tədris
            yolunu birlikdə qeyd etdik. Onların gələcək karyeralarında uğurlar
            arzulayırıq!
          </p>
        </div>
      </div>
      
      <div class="gallery-card">
        <div class="double-image">
          <img src="{% static '../static/images/yeniil.png' %}" alt="Yeni İl" />
          <img src="{% static '../static/images/yeniiil2.png' %}" alt="Yeni İl" />
        </div>
        <div class="gallery-content">
          <h2>Yeni İl</h2>
          <p>
            Yeni il, yeni başlanğıclar deməkdir! Kurs ailəsi olaraq birlikdə
            keçirdiyimiz bu bayramda həm sevinci, həm də ümidləri paylaşdıq.
          </p>
        </div>
      </div>
      
      <div class="gallery-card">
        <img src="{% static '../static/images/samaxi.png' %}" alt="Şamaxı Ekskursiyası" />
        <div class="gallery-content">
          <h2>Şamaxı Ekskursiyası</h2>
          <p>
            Tələbələrimizlə birlikdə Şamaxıya təşkil etdiyimiz ekskursiyada həm
            təbiətin gözəlliyindən zövq aldıq, həm də komanda ruhunu
            gücləndirdik.
          </p>
        </div>
      </div>
      
      <div class="gallery-card">
        <img src="{% static '../static/images/futbol.png' %}" alt="Futbol" />
        <div class="gallery-content">
          <h2>Futbol</h2>
          <p>
            Tələbələrimizin iştirakı ilə təşkil olunan futbol oyunu həm sağlam
            həyat tərzini təşviq etdi, həm də komanda ruhunu gücləndirdi.
          </p>
        </div>
      </div>
    </section>
{% endblock %}
    
{% block js %}
    <script src="js/main.js"></script>
{% endblock %}