{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main>
      <section class="welcome">
        <div>
          <h1>Gələcəyi Daha Yaxşı Öyrənməyə Başlayın</h1>
          <p>
            Əldə etdiyiniz bilik və bacarıqlar sizin gələcəyinizin açarıdır –
            özünüzü gücləndirin!
          </p>
        </div>

        <div class="main-photos">
          <img src="{% static '../static/images/image1.png' %}" alt="Şəkil 1" />
          <img src="{% static '../static/images/image2.png' %}" alt="Şəkil 2" />
          <img src="{% static '../static/images/image3.png' %}" alt="Şəkil 3" />
        </div>
      </section>
    </main>
{% endblock %}


{% block js %}
    <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}  